/target
/admin_panel/dist/
/compressed/system/locales/en-us.dll
/compressed/system/locales/en-us.pak
/compressed/system/plugins/npswf32_16_0_0_257.dll
/compressed/system/abnormaldefaulteffect.dat
/compressed/system/abnormaledgeeffectdata.dat
/compressed/system/actionname-ru.dat
/compressed/system/additionaleffect.dat
/compressed/system/additionalitemgrp.dat
/compressed/system/additionaljewelequipeffect.dat
/compressed/system/additionalnpcgrpparts.dat
/compressed/system/additionalsoulshoteffect.dat
/compressed/system/aegisty.bin
/compressed/system/alaudio.dll
/compressed/system/alaudio.int
/compressed/system/alchemydata.dat
/compressed/system/alterskilldata.dat
/compressed/system/animationcombo.dat
/compressed/system/armorgrp.dat
/compressed/system/awesomium.dll
/compressed/system/awesomiumprocess.exe
/compressed/system/bdcap32.dll
/compressed/system/beasttimeenv0.int
/compressed/system/beasttimeenv1.int
/compressed/system/beasttimeenv2.int
/compressed/system/beasttimeenv3.int
/compressed/system/beasttimeenv4.int
/compressed/system/beasttimeenv5.int
/compressed/system/beecrypt.dll
/compressed/system/bighead.int
/compressed/system/cameraeffectinfo.u
/compressed/system/castlename-ru.dat
/compressed/system/cef.pak
/compressed/system/cef_100_percent.pak
/compressed/system/cef_200_percent.pak
/compressed/system/charcreategrp.dat
/compressed/system/chargrp.dat
/compressed/system/chatfilter.ini
/compressed/system/checkgrp.log
/compressed/system/classinfo-ru.dat
/compressed/system/clmods.dll
/compressed/system/cloak.int
/compressed/system/colorexgrp.dat
/compressed/system/colorexname-ru.dat
/compressed/system/combinationitemdata.dat
/compressed/system/commandname-ru.dat
/compressed/system/commynity.u
/compressed/system/commynity1.u
/compressed/system/core.dll
/compressed/system/core.int
/compressed/system/core.u
/compressed/system/credit-ru.dat
/compressed/system/creditfont.gly
/compressed/system/d3dcompiler_43.dll
/compressed/system/d3dcompiler_47.dll
/compressed/system/d3ddrv.dll
/compressed/system/d3ddrv.int
/compressed/system/d3dx9_40.dll
/compressed/system/dbghelp.dll
/compressed/system/deconpcdata_client.dat
/compressed/system/defopenal32.dll
/compressed/system/dsetup.dll
/compressed/system/dualcasttypedata.dat
/compressed/system/dynamiccontentsname-ru.dat
/compressed/system/editor.u
/compressed/system/enchantedweaponfloweffectdata.dat
/compressed/system/enchantstatbonus.dat
/compressed/system/encvag.dll
/compressed/system/engine.dll
/compressed/system/engine.int
/compressed/system/engine.u
/compressed/system/ensoul_fee_client.dat
/compressed/system/ensoul_option_client-ru.dat
/compressed/system/ensoul_stone_client.dat
/compressed/system/entereventgrp.dat
/compressed/system/env.int
/compressed/system/etcitemgrp.dat
/compressed/system/eula-ru.dat
/compressed/system/eventalarmlist-ru.dat
/compressed/system/eventcontentsgoalname-ru.dat
/compressed/system/eventcontentsname-ru.dat
/compressed/system/eventlookchange.dat
/compressed/system/exceptionminimapdata.dat
/compressed/system/faceexgrp.dat
/compressed/system/faceexname-ru.dat
/compressed/system/factionname-ru.dat
/compressed/system/ffmpegsumo.dll
/compressed/system/fire.dll
/compressed/system/fire.u
/compressed/system/fixedtimeenv0.int
/compressed/system/flashconfig.dat
/compressed/system/flymovename-ru.dat
/compressed/system/fmodex.dll
/compressed/system/fullarmorenchanteffectdata.dat
/compressed/system/gamedatabase-ru.dat
/compressed/system/gameplay.u
/compressed/system/gametip-ru.dat
/compressed/system/goodsicon.dat
/compressed/system/hair.int
/compressed/system/hairaccessorylocgrp.dat
/compressed/system/hairexgrp.dat
/compressed/system/hairexname-ru.dat
/compressed/system/hennagrp-ru.dat
/compressed/system/horus.u
/compressed/system/huntingzone-ru.dat
/compressed/system/icudt42.dll
/compressed/system/icudtl.dat
/compressed/system/ime.xml
/compressed/system/instantzonedata-ru.dat
/compressed/system/interface.u
/compressed/system/interface.xdat
/compressed/system/item_baseinfo.dat
/compressed/system/itemname-ru.dat
/compressed/system/itemstatdata.dat
/compressed/system/l2.bin
/compressed/system/l2.exe
/compressed/system/l2.ini
/compressed/system/l2.int
/compressed/system/l2.log
/compressed/system/L2_20240520_204756.dmp
/compressed/system/l2cefsubprocess.exe
/compressed/system/l2compiledshader.bin
/compressed/system/l2crashsender.exe
/compressed/system/l2forecf.ffe
/compressed/system/l2gamedataname.dat
/compressed/system/l2precompiledshader.bin
/compressed/system/l2second.log
/compressed/system/la2world_add.u
/compressed/system/la2world_effect.u
/compressed/system/largefont.gly
/compressed/system/largefont-ru.gly
/compressed/system/libcef.dll
/compressed/system/libegl.dll
/compressed/system/libglesv2.dll
/compressed/system/lineagedeco.u
/compressed/system/lineageeffect.u
/compressed/system/lineageeffect2.u
/compressed/system/lineageeffect_br.u
/compressed/system/lineagegameplay.u
/compressed/system/lineagemonster.u
/compressed/system/lineagemonster2.u
/compressed/system/lineagemonster3.u
/compressed/system/lineagemonster4.u
/compressed/system/lineagemonster5.u
/compressed/system/lineagemonster6.u
/compressed/system/lineagemonster7.u
/compressed/system/lineagemonster8.u
/compressed/system/lineagemonster9.u
/compressed/system/lineagemonster10.u
/compressed/system/lineagemonster11.u
/compressed/system/lineagemonster12.u
/compressed/system/lineagemonster13.u
/compressed/system/lineagemonster99.u
/compressed/system/lineagenpc.u
/compressed/system/lineagenpc2.u
/compressed/system/lineagenpc3.u
/compressed/system/lineagenpc4.u
/compressed/system/lineagenpc5.u
/compressed/system/lineagenpc_br.u
/compressed/system/lineagenpcev.u
/compressed/system/lineagesceneinfo.u
/compressed/system/lineageskilleffect.u
/compressed/system/lineagevehicle.u
/compressed/system/lineagewarrior.u
/compressed/system/lobbytimeenv0.int
/compressed/system/localization.ini
/compressed/system/logongrp.dat
/compressed/system/lollycubedata.dat
/compressed/system/mantleexception.dat
/compressed/system/minimapregion.dat
/compressed/system/mobskillanimgrp.dat
/compressed/system/monsterbook_client.dat
/compressed/system/msconditiondata.dat
/compressed/system/msxml4.dll
/compressed/system/msxml4a.dll
/compressed/system/msxml4r.dll
/compressed/system/musicinfo.dat
/compressed/system/natives_blob.bin
/compressed/system/npcgrp.dat
/compressed/system/npcloc.ini
/compressed/system/npcname-ru.dat
/compressed/system/npcstring-ru.dat
/compressed/system/npcteleporter.dat
/compressed/system/npkcrypt.dll
/compressed/system/npkpdb.dll
/compressed/system/npswf32.dll
/compressed/system/nservice_topping_buff.dat
/compressed/system/nsplash.dll
/compressed/system/nwindow.dll
/compressed/system/nwindow.u
/compressed/system/obscene-ru.dat
/compressed/system/ogg.dll
/compressed/system/onedayreward-ru.dat
/compressed/system/option.ini
/compressed/system/optiondata_client-ru.dat
/compressed/system/pawnanimdata.dat
/compressed/system/piagreement-ru.dat
/compressed/system/posteffectdata.dat
/compressed/system/predefinedshader.bin
/compressed/system/productname-ru.dat
/compressed/system/questmarkconditiondata.dat
/compressed/system/questname-ru.dat
/compressed/system/raiddata-ru.dat
/compressed/system/recipe.dat
/compressed/system/ridedata.dat
/compressed/system/Running.ini
/compressed/system/sceneplayerdata.dat
/compressed/system/servername-ru.dat
/compressed/system/setitemgrp-ru.dat
/compressed/system/shortcutalias.dat
/compressed/system/shuttledata.dat
/compressed/system/skillgrp.dat
/compressed/system/skillname-ru.dat
/compressed/system/skillsoundgrp.dat
/compressed/system/skillsoundsource.dat
/compressed/system/smallfont.gly
/compressed/system/smallfont-ru.gly
/compressed/system/snapshot_blob.bin
/compressed/system/soulshot.int
/compressed/system/staticobject-ru.dat
/compressed/system/statisticname-ru.dat
/compressed/system/steam_api.dll
/compressed/system/symbolname-ru.dat
/compressed/system/sysstring-ru.dat
/compressed/system/systemmsg-ru.dat
/compressed/system/timeenv0.int
/compressed/system/timeenv1.int
/compressed/system/timeenv2.int
/compressed/system/timeenv3.int
/compressed/system/timeenv4.int
/compressed/system/timeenv5.int
/compressed/system/transformdata.dat
/compressed/system/ttfontinfo.ini
/compressed/system/tutorialname-ru.dat
/compressed/system/udebugmenu.u
/compressed/system/uistats.int
/compressed/system/upgradesystem.dat
/compressed/system/user.ini
/compressed/system/usmmoviedata-ru.dat
/compressed/system/uwindow.u
/compressed/system/variationeffectgrp-ru.dat
/compressed/system/vcomp120.dll
/compressed/system/vehiclepartsgrp.dat
/compressed/system/vorbis.dll
/compressed/system/vorbisfile.dll
/compressed/system/weaponenchanteffectdata.dat
/compressed/system/weapongrp.dat
/compressed/system/wform.bm
/compressed/system/widevinecdmadapter.dll
/compressed/system/window.dll
/compressed/system/window.int
/compressed/system/windowsinfo.ini
/compressed/system/windrv.dll
/compressed/system/windrv.int
/compressed/system/worldi.u
/compressed/system/wrap_oal.dll
/compressed/system/zonename-ru.dat
/compressed/config.ron
